<!-- Demo version: 2018.05.21 -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Video OneWay Broadcasting using RTCMultiConnection</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <!-- <link rel="shortcut icon" href="/demos/logo.png"> -->
  <!-- <link rel="stylesheet" href="/demos/stylesheet.css"> -->
  <!-- <script src="/demos/menu.js"></script> -->
</head>
<body>
  <header>
    <a class="logo" href="/demos/"><img src="/demos/logo.png" alt="RTCMultiConnection"></a>
    <a href="/demos/" class="menu-explorer">Menu<img src="/demos/menu-icon.png" alt="Menu"></a>
    <nav>
      <li>
        <a href="/demos/">Home</a>
      </li>
      <li>
        <a href="https://www.rtcmulticonnection.org/docs/getting-started/">Getting Started</a>
      </li>
      <li>
        <a href="https://www.rtcmulticonnection.org/FAQ/">FAQ</a>
      </li>
      <li>
        <a href="https://www.youtube.com/playlist?list=PLPRQUXAnRydKdyun-vjKPMrySoow2N4tl">YouTube</a>
      </li>
      <li>
        <a href="https://rtcmulticonnection.herokuapp.com/demos/">Demos</a>
      </li>
      <li>
        <a href="https://github.com/muaz-khan/RTCMultiConnection/wiki">Wiki</a>
      </li>
      <li>
        <a href="https://github.com/muaz-khan/RTCMultiConnection">Github</a>
      </li>
    </nav>
  </header>

  <h1>
    Video OneWay Broadcasting using RTCMultiConnection For Teacher
    <p class="no-mobile">
      Multi-user (one-to-many) video broadcasting using star topology.
    </p>
  </h1>

  <section class="make-center">
    <!-- <input type="text" id="room-id" value="abcdef" autocorrect=off autocapitalize=off size=20> -->
    <button id="open-room">Open Broadcast</button>
    <button id="close-room">Close Broadcast</button>   
    <button id="screen-sharing">Screen Sharing</button> 

    <div id="videos-container" style="margin: 20px 0;"></div>  
    <br/>  
    <div id="screens-container" style="margin: 20px 0;"></div>

    <div id="room-urls" style="text-align: center;display: none;background: #F1EDED;margin: 15px -10px;border: 1px solid rgb(189, 189, 189);border-left: 0;border-right: 0;"></div>
  </section>

<script src="RTCMultiConnection.js"></script>
<script src="main.js"></script>
<script src="VideoBroadCasting.js"></script>
<script src="adapter.js"></script>
<script src="ScreenSharing.js"></script>
<script src="getScreenId.js"></script>
<script src="/socket.io/socket.io.js"></script>


<script>
// ......................................................
// .......................UI Code........................
// ......................................................

document.getElementById('open-room').onclick = function() {    
    document.getElementById('open-room').disabled = true;
    connection.open('VBCasting', function() {
        showRoomURL(connection.sessionid);
    });    
};
// comment-out below line if you do not have your own socket.io server
// connection.socketURL = 'https://rtcmulticonnection.herokuapp.com:443/';

document.getElementById('screen-sharing').onclick = function(){
  // document.getElementById('screen-sharing').disabled = true;
  connection_2.open('SSharing', function() {
       // showRoomURL(connection_2.sessionid);
       console.log(connection_2.sessionid);       
  });
}



// ..................................
// ALL below scripts are redundant!!!
// ..................................

// ......................................................
// ......................Handling Room-ID................
// ......................................................

function showRoomURL(roomid) {
    var roomHashURL = '#' + roomid;
    var roomQueryStringURL = '?roomid=' + roomid;

    var html = '<h2>Unique URL for your room:</h2><br>';

    html += 'Hash URL: <a href="' + roomHashURL + '" target="_blank">' + roomHashURL + '</a>';
    html += '<br>';
    html += 'QueryString URL: <a href="' + roomQueryStringURL + '" target="_blank">' + roomQueryStringURL + '</a>';

    var roomURLsDiv = document.getElementById('room-urls');
    roomURLsDiv.innerHTML = html;

    roomURLsDiv.style.display = 'block';
}
</script>

  <footer>
    <small id="send-message"></small>
  </footer>  
</body>
</html>
